# Web UI & Backend
streamlit
ultralytics
Flask==3.1.1

# Core Dependencies
numpy==2.2.6
pandas==2.3.0
opencv-python==4.11.0.86
matplotlib==3.10.3
seaborn==0.13.2
scipy==1.15.3
Pillow

# Image Downloading
icrawler==0.6.6

# Utils / Others
certifi==2025.6.15
requests==2.32.4
PyYAML==6.0.2
tqdm==4.67.1
psutil==7.0.0
fsspec==2025.5.1
thop==0.1.1.post2209072238
python-dateutil==2.9.0.post0
typing_extensions==4.14.0
py-cpuinfo==9.0.0
sympy==1.14.0
networkx==3.4.2
contourpy==1.3.2
kiwisolver==1.4.8
pyparsing==3.2.3
fonttools==4.58.4
cycler==0.12.1

# Flask Related
Werkzeug==3.1.3
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.2

# Required for streamlit & requests
blinker==1.9.0
charset-normalizer==3.4.2
idna==3.10
urllib3==2.5.0
tzdata==2025.2
